<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    HEllo Myname is KimMinho <br>
    Nice to meet you <br>
    I am from korea <br>
    I am 28 years old and you?  <br>
    ""<br>
    넌 : "바보야"; <br>   
    <p>너는 바보야</p>

    <p></p>

    <img href="#"></img>

    <form action="">
        <table style="border: 1px solid rgb(47, 180, 107);">
            <tr>
                <td>안녕</td>
            </tr>
            <tr>
                <td>민호야</td>
            </tr>
        </table>

    </form>
</body>
</html>